<!--<app-article [title]="'Tiêu đề 1'"></app-article>-->
<!--<app-article [title]="'Tiêu đề 2'"></app-article>-->
<!--<app-article [title]="'Tiêu đề 3'"></app-article>-->
<!--<app-article [title]="'Tiêu đề 4'"></app-article>-->
<app-navbar></app-navbar>
<app-article *ngFor="let art of articles"
             [article]="art"
             (onClickShowButton)="showArticleContent($event)"
             (onClickEditArticle)="editArticle($event)">
</app-article>

<textarea cols="100" [(ngModel)]="title"></textarea>
<textarea cols="100" [(ngModel)]="content"></textarea>
<textarea cols="100" [(ngModel)]="link"></textarea>
<button (click)="addArticle()">Add</button>
